In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("letterboxd_movies2.csv")
df

,Movie Title,Genre(s),Year of Release,Letterboxd Rating,IMDb Rating,Runtime (mins),Synopsis,Country,Original Language,Production Studio,Budget,Box Office Gross,Awards
0,Barbie,"Adventure, Comedy, Fantasy",2023,3.8,6.8,114.0,Barbie and Ken are having the time of their li...,"United States, United Kingdom","English, Spanish",NaN,"$636,238,421","$636,238,421",Won 1 Oscar. 208 wins & 437 nominations total
1,Parasite,"Drama, Thriller",2019,4.5,8.5,133.0,"All unemployed, Ki-taek’s family takes peculia...",South Korea,"Korean, English",NaN,"$53,369,749","$53,369,749",Won 4 Oscars. 316 wins & 266 nominations total
2,Interstellar,"Adventure, Drama, Sci-Fi",2014,4.4,8.7,169.0,The adventures of a group of explorers who mak...,"United States, United Kingdom, Canada",English,NaN,"$203,227,580","$203,227,580",Won 1 Oscar. 44 wins & 148 nominations total
3,Fight Club,Drama,1999,4.3,8.8,139.0,A ticking-time-bomb insomniac and a slippery s...,"Germany, United States",English,NaN,"$37,030,102","$37,030,102",Nominated for 1 Oscar. 12 wins & 38 nomination...
4,La La Land,"Comedy, Drama, Music",2016,4.1,8.0,129.0,"Mia, an aspiring actress, serves lattes to mov...","United States, Hong Kong","English, Cantonese",NaN,"$151,101,803","$151,101,803",Won 6 Oscars. 242 wins & 307 nominations total
...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,Scott Pilgrim vs. the World,"Action, Comedy, Fantasy",2010,3.9,7.5,113.0,"As bass guitarist for a garage-rock band, Scot...","United States, United Kingdom, Canada, Japan",English,NaN,"$33,525,605","$33,525,605",18 wins & 66 nominations total
68,Taxi Driver,"Crime, Drama",1976,4.1,8.2,114.0,A mentally unstable Vietnam War veteran works ...,United States,"English, Spanish",NaN,"$28,262,574","$28,262,574",Nominated for 4 Oscars. 22 wins & 21 nominatio...
69,Inside Out,"Animation, Adventure, Comedy",2015,3.8,8.1,95.0,"When 11-year-old Riley moves to a new city, he...",United States,"English, Portuguese, Latvian",NaN,"$356,461,711","$356,461,711",Won 1 Oscar. 99 wins & 118 nominations total
70,The Lord of the Rings: The Fellowship of the Ring,"Adventure, Drama, Fantasy",2001,4.4,8.9,179.0,"Young hobbit Frodo Baggins, after inheriting a...","New Zealand, United States, United Kingdom","English, Sindarin",NaN,"$319,372,078","$319,372,078",Won 4 Oscars. 125 wins & 126 nominations total
71,The Shawshank Redemption,Drama,1994,4.6,9.3,142.0,Imprisoned in the 1940s for the double murder ...,United States,English,NaN,"$28,767,189","$28,767,189",Nominated for 7 Oscars. 21 wins & 42 nominatio...

In [5]:
df1 = pd.read_json("imdbscrapper/IMDB_250_movies.json")
df1

,title,movie_rank,genres,release_day,release_month,release_year,movie_length,rating,vote_count,description
0,[The Shawshank Redemption],[1],[[Drama]],[14],[10],[1994],2:22:00,[9.3],[3020598],A banker convicted of uxoricide forms a friend...
1,[The Godfather],[2],"[[Crime, Drama]]",[24],[3],[1972],2:55:00,[9.2],[2108019],The aging patriarch of an organized crime dyna...
2,[The Dark Knight],[3],"[[Action, Crime, Drama]]",[18],[7],[2008],2:32:00,[9],[2996913],When a menace known as the Joker wreaks havoc ...
3,[The Godfather Part II],[4],"[[Crime, Drama]]",[18],[12],[1974],3:22:00,[9],[1419714],The early life and career of Vito Corleone in ...
4,[12 Angry Men],[5],"[[Crime, Drama]]",[10],[4],[1957],1:36:00,[9],[916939],The jury in a New York City murder trial is fr...
...,...,...,...,...,...,...,...,...,...,...
245,[A Silent Voice: The Movie],[246],"[[Animation, Drama]]",[17],[9],[2016],2:10:00,[8.1],[116937],"A deaf girl, Shoko, is bullied by the popular ..."
246,[The Help],[247],[[Drama]],[10],[8],[2011],2:26:00,[8.1],[509866],An aspiring author during the civil rights mov...
247,[Amores Perros],[248],"[[Drama, Thriller]]",[13],[4],[2000],2:34:00,[8],[261263],"An amateur dog fighter, a supermodel, and a de..."
248,[Rebecca],[249],"[[Drama, Mystery, Romance]]",[12],[4],[1940],2:10:00,[8.1],[153434],A self-conscious woman juggles adjusting to he...
249,[Drishyam],[250],"[[Crime, Drama, Mystery]]",[31],[7],[2015],2:43:00,[8.2],[100198],Desperate measures are taken by a man who trie...

In [ ]:
df1.to_csv("IMDB_250_movies.csv")
df1.head(6)

,title,movie_rank,genres,release_day,release_month,release_year,movie_length,rating,vote_count,description
0,[The Shawshank Redemption],[1],[[Drama]],[14],[10],[1994],2:22:00,[9.3],[3020598],A banker convicted of uxoricide forms a friend...
1,[The Godfather],[2],"[[Crime, Drama]]",[24],[3],[1972],2:55:00,[9.2],[2108019],The aging patriarch of an organized crime dyna...
2,[The Dark Knight],[3],"[[Action, Crime, Drama]]",[18],[7],[2008],2:32:00,[9],[2996913],When a menace known as the Joker wreaks havoc ...
3,[The Godfather Part II],[4],"[[Crime, Drama]]",[18],[12],[1974],3:22:00,[9],[1419714],The early life and career of Vito Corleone in ...
4,[12 Angry Men],[5],"[[Crime, Drama]]",[10],[4],[1957],1:36:00,[9],[916939],The jury in a New York City murder trial is fr...
5,[The Lord of the Rings: The Return of the King],[6],"[[Adventure, Drama, Fantasy]]",[17],[12],[2003],3:21:00,[9],[2063799],Gandalf and Aragorn lead the World of Men agai...

In [7]:
df1.columns

Index(['title', 'movie_rank', 'genres', 'release_day', 'release_month',
       'release_year', 'movie_length', 'rating', 'vote_count', 'description'],
      dtype='object')

In [3]:
## reading the csv dataset 
df = pd.read_csv("IMDB_250_movies_cleaned.csv")
df.head(6)

,title,movie_rank,genres,release_day,release_month,release_year,movie_length,rating,vote_count,description
0,The Shawshank Redemption,1,Drama,14,10,1994,2:22:00,9.3,3020598,A banker convicted of uxoricide forms a friend...
1,The Godfather,2,"Crime, Drama",24,3,1972,2:55:00,9.2,2108019,The aging patriarch of an organized crime dyna...
2,The Dark Knight,3,"Action, Crime, Drama",18,7,2008,2:32:00,9.0,2996913,When a menace known as the Joker wreaks havoc ...
3,The Godfather Part II,4,"Crime, Drama",18,12,1974,3:22:00,9.0,1419714,The early life and career of Vito Corleone in ...
4,12 Angry Men,5,"Crime, Drama",10,4,1957,1:36:00,9.0,916939,The jury in a New York City murder trial is fr...
5,The Lord of the Rings: The Return of the King,6,"Adventure, Drama, Fantasy",17,12,2003,3:21:00,9.0,2063799,Gandalf and Aragorn lead the World of Men agai...

In [5]:
df.columns

Index(['title', 'movie_rank', 'genres', 'release_day', 'release_month',
       'release_year', 'movie_length', 'rating', 'vote_count', 'description'],
      dtype='object')

In [4]:
from datetime import date

In [20]:
df[['release_day','release_month','release_year']] = df[['release_day','release_month','release_year']].astype('str')

In [21]:
df['date'] = pd.to_datetime(df['release_year'] + '-' +  df['release_month'] + '-'+ df['release_day'])
df['date']

0     1994-10-14
1     1972-03-24
2     2008-07-18
3     1974-12-18
4     1957-04-10
         ...
245   2016-09-17
246   2011-08-10
247   2000-04-13
248   1940-04-12
249   2015-07-31
Name: date, Length: 250, dtype: datetime64[ns]

In [22]:
df

,title,movie_rank,genres,release_day,release_month,release_year,movie_length,rating,vote_count,description,date
0,The Shawshank Redemption,1,Drama,14,10,1994,2:22:00,9.3,3020598,A banker convicted of uxoricide forms a friend...,1994-10-14
1,The Godfather,2,"Crime, Drama",24,3,1972,2:55:00,9.2,2108019,The aging patriarch of an organized crime dyna...,1972-03-24
2,The Dark Knight,3,"Action, Crime, Drama",18,7,2008,2:32:00,9.0,2996913,When a menace known as the Joker wreaks havoc ...,2008-07-18
3,The Godfather Part II,4,"Crime, Drama",18,12,1974,3:22:00,9.0,1419714,The early life and career of Vito Corleone in ...,1974-12-18
4,12 Angry Men,5,"Crime, Drama",10,4,1957,1:36:00,9.0,916939,The jury in a New York City murder trial is fr...,1957-04-10
...,...,...,...,...,...,...,...,...,...,...,...
245,A Silent Voice: The Movie,246,"Animation, Drama",17,9,2016,2:10:00,8.1,116937,"A deaf girl, Shoko, is bullied by the popular ...",2016-09-17
246,The Help,247,Drama,10,8,2011,2:26:00,8.1,509866,An aspiring author during the civil rights mov...,2011-08-10
247,Amores Perros,248,"Drama, Thriller",13,4,2000,2:34:00,8.0,261263,"An amateur dog fighter, a supermodel, and a de...",2000-04-13
248,Rebecca,249,"Drama, Mystery, Romance",12,4,1940,2:10:00,8.1,153434,A self-conscious woman juggles adjusting to he...,1940-04-12
249,Drishyam,250,"Crime, Drama, Mystery",31,7,2015,2:43:00,8.2,100198,Desperate measures are taken by a man who trie...,2015-07-31

In [24]:
df.head(4)

,title,movie_rank,genres,release_day,release_month,release_year,movie_length,rating,vote_count,description,date
0,The Shawshank Redemption,1,Drama,14,10,1994,2:22:00,9.3,3020598,A banker convicted of uxoricide forms a friend...,1994-10-14
1,The Godfather,2,"Crime, Drama",24,3,1972,2:55:00,9.2,2108019,The aging patriarch of an organized crime dyna...,1972-03-24
2,The Dark Knight,3,"Action, Crime, Drama",18,7,2008,2:32:00,9.0,2996913,When a menace known as the Joker wreaks havoc ...,2008-07-18
3,The Godfather Part II,4,"Crime, Drama",18,12,1974,3:22:00,9.0,1419714,The early life and career of Vito Corleone in ...,1974-12-18

In [25]:
df['Release_Month_name'] = df.date.dt.month_name()
df.head(4)

,title,movie_rank,genres,release_day,release_month,release_year,movie_length,rating,vote_count,description,date,Release_Month_name
0,The Shawshank Redemption,1,Drama,14,10,1994,2:22:00,9.3,3020598,A banker convicted of uxoricide forms a friend...,1994-10-14,October
1,The Godfather,2,"Crime, Drama",24,3,1972,2:55:00,9.2,2108019,The aging patriarch of an organized crime dyna...,1972-03-24,March
2,The Dark Knight,3,"Action, Crime, Drama",18,7,2008,2:32:00,9.0,2996913,When a menace known as the Joker wreaks havoc ...,2008-07-18,July
3,The Godfather Part II,4,"Crime, Drama",18,12,1974,3:22:00,9.0,1419714,The early life and career of Vito Corleone in ...,1974-12-18,December

In [28]:

df['Release_week_day'] = df.date.dt.day_name()

In [29]:
df.head(4)

,title,movie_rank,genres,release_day,release_month,release_year,movie_length,rating,vote_count,description,date,Release_Month_name,Release_week_day
0,The Shawshank Redemption,1,Drama,14,10,1994,2:22:00,9.3,3020598,A banker convicted of uxoricide forms a friend...,1994-10-14,October,Friday
1,The Godfather,2,"Crime, Drama",24,3,1972,2:55:00,9.2,2108019,The aging patriarch of an organized crime dyna...,1972-03-24,March,Friday
2,The Dark Knight,3,"Action, Crime, Drama",18,7,2008,2:32:00,9.0,2996913,When a menace known as the Joker wreaks havoc ...,2008-07-18,July,Friday
3,The Godfather Part II,4,"Crime, Drama",18,12,1974,3:22:00,9.0,1419714,The early life and career of Vito Corleone in ...,1974-12-18,December,Wednesday

In [30]:
df.columns

Index(['title', 'movie_rank', 'genres', 'release_day', 'release_month',
       'release_year', 'movie_length', 'rating', 'vote_count', 'description',
       'date', 'Release_Month_name', 'Release_week_day'],
      dtype='object')